body {
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
}
input {
	width: 100%;
	box-sizing: border-box;
	padding-left: 10px;
	height: var(--input-height);
	border: solid #ccc 1px;
	border-radius: 5px;
	font-family: 'Open Sans',sans-serif;
	font-size: 17px;
}
input:focus {
	background: var(--theme-background-secondary);
	color: var(--theme-color-secondary);
}
button {
	width: 100%;
	box-sizing: border-box;
	padding-left: 10px;
	height: var(--button-height);
	border: solid var(--theme-background-secondary) 2px;
	border-radius: var(--button-height);
	font-family: 'Open Sans',sans-serif;
	font-size: 17px;
	background: var(--theme-background-primary);
	overflow: hidden;
	text-overflow: ellipsis;
}
button.menuitem {
	border: solid var(--theme-background-primary) 2px;
	border-radius: 0px;
	text-align: left;
}
button:focus {
	background-color: var(--theme-background-secondary);
	color: var(--theme-color-secondary);
}
button.menuitem:focus {
	background-color: var(--theme-background-primary);
	color: var(--theme-color-primary);
	border: solid var(--theme-background-secondary) 2px;
}
