#header {
	position: fixed;
	height: var(--header-height);
	top: 0px;
	left: 0px;
	right: 0px;
	background: var(--theme-background-header);
	color: var(--theme-color-header);
	display: flex;
	align-items: center;
	justify-content: center;
	/*border-bottom: solid var(--theme-separator-header) 1px;*/
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 17px;
}
.header-hidden > #header {
	display: none;
}
#root {
	position: fixed;
	top: var(--header-height);
	bottom: var(--softkey-bar-height);
	left: 0px;
	right: 0px;
	overflow: scroll;
	scrollbar-width: none;
	background: var(--theme-background-primary);
	color: var(--theme-color-primary);
}
.header-hidden > #root {
	top: 0px;
}
#softkey-bar {
	position: fixed;
	height: var(--softkey-bar-height);
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	background: var(--theme-background-softkey);
	color: var(--theme-color-softkey);
	border-top: solid var(--theme-separator-softkey) 2px;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
}
#left-softkey, #right-softkey {
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
	font-size: 14px;
	font-weight: 600;
	flex-grow: 1;
	letter-spacing: -.5px;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}
#left-softkey {
	text-align: left;
}
#right-softkey {
	text-align: right;
}
#center-softkey {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	font-family: 'Open Sans',sans-serif;
	flex-shrink: 0;
	flex-grow: 0;
	max-width: 120px;
}
