:root {
	--header-height: 28px;
	--softkey-bar-height: 30px;
	--input-height: 36px;
	--button-height: 36px;
	--theme-background-primary: white;
	--theme-color-primary: black;
	--theme-background-header: white;
	--theme-color-header: black;
	--theme-background-secondary: blue;
	--theme-color-secondary: white;
	--theme-background-softkey: white;
	--theme-color-softkey: black;
	/*--theme-separator-header: black;*/
	--theme-separator-softkey: #cbcbcb;
}
