.appdetail-title {
	padding: 3px;
	font-size: 16px;
	font-weight: 600;
	padding-left: 62px;
	width: 100%;
	box-sizing: border-box;
	height: 62px;
	background-color: #2c00ff;
	background-repeat: no-repeat;
	background-size: 56px;
	background-image: url(./default.png);
	background-position: left;
	background-position-y: center;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}
