.app {
	background-position: left;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 56px;
	padding-left: 62px;
	height: 62px;
	width: 100%;
	font-size: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.app-subtitle {
	color: #4c4c4c;
	font-size: 14px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
